html{
   padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
  background-color: rgb(255, 255, 255);
}

.back{
  background-image: url('../assests/image.png');
  width: 100vw;
  height: 102vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size:  cover;
  margin-left: -62px;
  margin-top: -50px;
  margin-bottom: -60px;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow:hidden;
}
.con{
}